.DS_Store
dist/electron/*
dist/web/*
build/*
assets/*
!assets/icons
!assets/images
!assets/core
coverage
node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
.idea/
*.pid
zcoin-repo
/zcoin-client-api
/zcoin-client-api-development
