.checkbox-field {
    display: flex;
    height: 18px;

    label {
        padding: {
            left: 8px;
            top: 3px;
            bottom: 3px;
        }
        width: fit-content;
    }
}