// These are the colors defined in the Firo Brand Guidelines.
// Names are taken from http://chir.ag/projects/name-that-color/

// Primary
$firo-old-brick: #9b1c2e;
$firo-merlot: #7c1624;
$firo-brick-red: #ba2a45;
$firo-soft-peach: #f7f0f1;

// Secondary
$firo-creole: #110202;
$firo-white: #ffffff;
$firo-mine-shaft: #3d3939;
$firo-gray: #878787;
$firo-silver: #cfcccc;
$firo-wild-sand: #f4f4f4;

// These are the colors we should actually use in the project, in order to be able to easily change them.

$color-main-background: white;
$color-menu-background: #e1ebf1;
$color-detail-background: #f6f8fc;
$color-loading-background: #e5e5e5;
$color-setup-background: $color-menu-background;
$color-setup-foreground: $color-detail-background;

$color-warning-background: $firo-brick-red;
$color-warning-text: white;

$color-text: black;
$color-text-accent: $firo-brick-red;
$color-text-disabled: $firo-silver;
$color-ticker: $color-text-accent;
$color-error: red;

$color-input-text: $color-text;
$color-input-placeholder: $color-text;
$color-input-background: #f6f8fc;
$color-search-input-background: white;

$color-shadow: rgba(0, 0, 0, 0.25);

$color-big-button: white;
$color-big-button-text: $color-text;

$color-popup-outside: rgba(gray, 0.5);
$color-popup-background: white;

$color-menu-link-text: black;
$color-menu-link-text-highlighted: white;
$color-menu-highlighted-element: $firo-brick-red;

$color-table-background: #F6F8FC;
$color-table-heading: $color-text;

$color-amount-positive: $color-text;
$color-amount-negative: $color-text;
$color-amount-neutral: $color-text;

$color-debug-background: darken($color-menu-background, 5%);
$color-debug-text: $firo-gray;