$tooltip-size: 7px;

.empty-tooltip {
    display: none;
}

.tooltip.error.right .tooltip-arrow {
    transform: scaleX(-1);
    right: unset !important;
    left: -$tooltip-size;
}

.tooltip.error {
    z-index: var(--z-tooltip);

    .tooltip-inner {
        color: var(--color-status-error-contrast);
        background-color: var(--color-status-error);
        padding: var(--padding-base);
        border-radius: 5px;
    }

    .tooltip-arrow {
        z-index: 1;
        position: absolute;
        right: -$tooltip-size;
        border-style: solid;
        border-width: $tooltip-size 0 $tooltip-size $tooltip-size;
        border-color: var(--color-status-error);
        border-top-color: transparent !important;
        border-right-color: transparent !important;
        border-bottom-color: transparent !important;
    }
}