@at-root {
    // So this is a fix for a really icky issue with vue-tooltip's use of transform: translate3d directives, which make
    // it impossible to properly use z-indexes. Popup and WaitingScreen will add this to the root element when they are
    // created and then remove it when they are destroyed, and we will become invisible accordingly.

    .vue-tooltip-z-index-hack {
        .tooltip {
            display: none;
        }
    }
}

.tooltip.error {
    .tooltip-inner {
        color: white;
        background-color: #F92848;
        padding: 1em;
        border-radius: 0.5em;
    }
}