// IcoFont
// See https://icofont.com/license

@font-face {
    src: url("~fonts/IcoFont.ttf");
    font-family: "IcoFont";
}

// Saira Semi Condensed

@font-face {
    src: url("~fonts/SairaSemiCondensed/SairaSemiCondensed-Bold.ttf");
    font-family: "Saira Semi Condensed";
    font-weight: bold;
}

@font-face {
    src: url("~fonts/SairaSemiCondensed/SairaSemiCondensed-Light.ttf");
    font-family: "Saira Semi Condensed";
    font-weight: 300;
}

// Source Sans Pro

@font-face {
    src: url("~fonts/SourceSansPro/SourceSansPro-Bold.ttf");
    font-family: "Source Sans Pro";
    font-weight: bold;
}

@font-face {
    src: url("~fonts/SourceSansPro/SourceSansPro-Regular.ttf");
    font-family: "Source Sans Pro";
}

@font-face {
    src: url("~fonts/SourceSansPro/SourceSansPro-Italic.ttf");
    font-family: "Source Sans Pro";
    font-style: italic;
}

// Robot Mono

@font-face {
    src: url("~fonts/RobotMono/RobotoMono-VariableFont_wght.ttf");
    font-family: "Robot Mono";
}

@font-face {
    src: url("~fonts/RobotMono/RobotoMono-Italic-VariableFont_wght.ttf");
    font-family: "Robot Mono";
    font-style: italic;
}

// Rubik

@font-face {
    src: url("~fonts/Rubik.ttf");
    font-family: "Rubik";
}