html, body {
    margin: 0;
    height: 100%;
}

body {
    min-height: 100%;
    @include lato-font('regular');
    letter-spacing: 0.00125em;
    -webkit-font-smoothing: antialiased;

    h1 {
        @include font-black();
        @include setType(7, $ms-up5);
        margin-top: 0;
        margin-bottom: emRhythm(7, $ms-up5);
        //@include setLeading(3);
    }

    h2 {
        @include font-black();
        @include setType(4, $ms-up2);
        margin-top: emRhythm(2, $ms-up2);
        margin-bottom: emRhythm(4, $ms-up2);
    }

    .debug {
        box-sizing: border-box;
        border: 1px solid rgba(#f00, 0.5);
        background: rgba(#f00, 0.1);
    }

    .internal-only {
        background: $color--red-bright;
        color: $color--white;
        @include font-heavy();
        @include box-shadow-large();
        padding: emRhythm(2) emRhythm(4);
    }

    .scrollable-height {
        box-sizing: border-box;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 100vh;
        width: 100%;
    }

    .scrollable-container {
        box-sizing: border-box;
        overflow-y: scroll;
        height: 100%;
        width: 100%;
    }

    .fixed-button-detail-top-wrap {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;

        button {
            width: 100%;
        }
    }
}
