html, body {
    margin: 0;
    height: 100%;
}

body {
    min-height: 100%;
    @include lato-font('regular');
    letter-spacing: 0.00125em;
    -webkit-font-smoothing: antialiased;

    h1 {
        @include font-black();
        @include setType(7, $ms-up5);
        margin-top: 0;
        margin-bottom: emRhythm(7, $ms-up5);
        //@include setLeading(3);
    }

    h2 {
        @include font-black();
        @include setType(4, $ms-up2);
        margin-top: emRhythm(2, $ms-up2);
        margin-bottom: emRhythm(4, $ms-up2);
    }
}