@import "src/renderer/styles/sizes";

@mixin info-popup() {
}

.info-popup {
    padding: var(--padding-popup);

    .title {
        text-align: center;
        padding-bottom: var(--padding-popup);
        font-weight: bold;
        border-bottom: {
            style: solid;
            width: 1px;
            color: var(--color-text-subtle-border);
        }
    }

    table, .content {
        min-width: 500px;
        margin: {
            top: var(--padding-popup);
            bottom: var(--padding-popup);
            left: auto;
            right: auto;
        }

        max-width: 80vw;
        word-wrap: anywhere;

        tr {
            &:not(:first-child) td {
                padding-top: 10px;
            }

            td {
                vertical-align: bottom;

                &:first-child {
                    font-weight: bold;
                }

                &:last-child {
                    text-align: right;
                    font-family: "Robot Mono";
                }
            }
        }
    }

    .content {
        text-align: center;
    }

    table {
        text-align: left;
    }

    .buttons {
        width: 500px !important;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
    }
}