@import "src/renderer/styles/sizes";

@mixin info-popup() {
}

.info-popup {
    padding: var(--popup-padding);

    .title {
        text-align: center;
        padding-bottom: var(--popup-padding);
        font-weight: bold;
        border-bottom: {
            style: solid;
            width: 1px;
            color: var(--color-text-subtle-border);
        }
    }

    table {
        min-width: 500px;
        margin: {
            top: var(--popup-padding);
            bottom: var(--popup-padding);
        }

        tr {
            &:not(:first-child) td {
                padding-top: 10px;
            }

            td {
                &:first-child {
                    font-weight: bold;
                }

                &:last-child {
                    text-align: right;
                }
            }
        }
    }

    .buttons {
        width: 400px;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
    }
}