.info-popup {
    padding: var(--padding-base);

    .title {
        text-align: center;
        padding-bottom: var(--padding-base);
        font-weight: var(--font-weight-bold);
        border-bottom: {
            style: solid;
            width: 1px;
            color: var(--color-text-subtle-border);
        }
    }

    table, .content {
        min-width: 500px;
        margin: {
            top: var(--padding-base);
            bottom: var(--padding-base);
            left: auto;
            right: auto;
        }

        max-width: 80vw;
        word-wrap: anywhere;

        tr {
            &:not(:first-child) td {
                padding-top: 10px;
            }

            td {
                max-width: 50vw;
                user-select: text;
                vertical-align: middle;

                &:first-child {
                    font-weight: var(--font-weight-bold);
                }

                &:last-child {
                    padding-left: var(--padding-base);
                    text-align: right;
                    font-family: "Robot Mono";
                }
            }
        }
    }

    .content {
        text-align: center;
    }

    table {
        text-align: left;
    }

    .buttons {
        width: 500px !important;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
    }
}