@function emRhythm($x) {
    @return #{$x/2}em;
}

@mixin rhythmBorderTop($border-width, $emRhythm) {
    border-top-width: $border-width;
    padding-top: emRhythm($emRhythm);
}

@mixin rhythmBorderBottom($border-width, $emRhythm) {
    border-bottom-width: $border-width;
    padding-bottom: emRhythm($emRhythm);
}

$heading-color: black;

@mixin popover-inline-button() {
    color: $color--white-light;
    font-style: normal;
    text-decoration: none;
    background-color: rgba($color--dark, 0.3);
    text-transform: uppercase;
    letter-spacing: 0.025rem;
    display: inline-block;
    padding: emRhythm(0.75) emRhythm(1);
    margin: emRhythm(-0.75) 0;
    border-radius: emRhythm(0.25);

    transition: color 0.15s ease-out, background 0.15s ease-out;

    &:hover,
    &:focus {
        color: $color--white;
        background: rgba($color--dark, 0.85);
    }
}