@mixin drop-shadow () {
    filter: drop-shadow(0 2px 2px rgba($color--dark, 0.5));
}

@mixin box-shadow () {
    box-shadow: 0 2px 2px rgba($color--dark, 0.5);
}

@mixin box-shadow-large () {
    box-shadow: 0 2px 4px rgba($color--dark, 0.5);
}

@mixin glow-transition-start ($color) {
    box-shadow: 0 0 0 rgba($color, 0);
}

@mixin glow-small-box ($color: $color--dark, $yOff: 1rem, $blur: 3rem) {
    box-shadow: 0 $yOff $blur rgba($color, 0.3);
}

@mixin glow-huge-box ($color) {
    box-shadow: 0 2rem 6rem rgba($color, 0.5);
}

@mixin description ($description-width: emRhythm(40), $description-color: inherit) {
    max-width: $description-width;
    font-style: italic;
    color: $description-color;
    margin: 0;
}

@mixin h2-with-description ($heading-color: inherit, $description-color: inherit) {
    h2 {
        margin-bottom: emRhythm(2);
        color: $heading-color;
    }

    p {
        @include description(emRhythm(40), $description-color);
    }
}

@mixin divider-top-with-gradient() {
    border-top: 1px solid $color--polo-medium;
    @include rhythmBorderTop(1px, 5);
    background: radial-gradient(at top, rgba($color--comet-light, 0.35), rgba($color--comet-light, 0) 70%);
    padding-bottom: emRhythm(5);
}

@mixin dark-divider-top-with-gradient() {
    @include divider-top-with-gradient();

    border-top: 1px solid $color--comet-dark-mixed;
    background: radial-gradient(at top, rgba($color--comet-dark-mixed, 0.25), rgba($color--comet-dark-mixed, 0) 70%);
}

@mixin bleed-h ($value) {
    margin-left: -#{emRhythm($value)};
    margin-right: -#{emRhythm($value)};
    padding-left: emRhythm($value);
    padding-right: emRhythm($value);
}

@mixin bleed-v ($value) {
    margin-top: -#{emRhythm($value)};
    margin-bottom: -#{emRhythm($value)};
    padding-top: emRhythm($value);
    padding-bottom: emRhythm($value);
}

@mixin bleed ($value) {
    @include bleed-h($value);
    @include bleed-v($value);
}

@mixin placeholder-base() {
    font-style: italic;
    transition: color .15s ease-in-out;
}

@mixin dark-placeholder () {
    @include placeholder-base();
    color: mix($color--comet, $color--comet-dark);
}

@mixin dark-placeholder-hover () {
    color: mix($color--comet-dark, $color--comet-medium);
}

@mixin dark-input () {
    background: rgba($color--dark, 0.4);
    color: $color--white-light;

    &:hover {
        background: rgba($color--dark, 0.55);
    }

    &:focus,
    &.is-open {
        background: rgba($color--dark, 0.7);
        color: $color--white;
    }

    &::placeholder {
        @include dark-placeholder()
    }

    &:hover,
    &:focus {
        &::placeholder {
            @include dark-placeholder-hover();
        }
    }
}

@mixin white-placeholder () {
    @include light-placeholder();
}

@mixin white-placeholder-hover () {
    @include light-placeholder-hover();
}

@mixin white-input () {
    background: $color--white-light;
    color: $color--dark-light;

    &:hover {
        background: rgba($color--white, 0.85);
    }

    &:focus {
        background: $color--white;
        color: $color--dark;
    }

    &::placeholder {
        @include white-placeholder()
    }

    &:hover,
    &:focus {
        &::placeholder {
            @include white-placeholder-hover();
        }
    }
}

@mixin white-select () {
    background: $color--white-light;
    color: $color--dark-light;

    & /deep/ .dropdown-toggle {
        position: relative;
        padding: emRhythm(1) 0 emRhythm(1) emRhythm(1);
        border: none;
        border-radius: 0;
        z-index: 1001;

        input::placeholder {
            @include white-placeholder()
        }

        .vs__actions {
            padding: 0 emRhythm(2);
        }

        .clear {
            font-weight: normal;
            margin-right: emRhythm(1);
        }

        .open-indicator::before {
            border-width: 2px 2px 0 0;
            width: emRhythm(1);
            height: emRhythm(1);
        }
    }

    & /deep/ .dropdown-menu {
        @include glow-small-box();
        padding: emRhythm(1) 0;
        border: none;
        //background: $color--polo-medium;
        background: $color--comet-dark-mixed;
        border-radius: 0;

        li {

            & > a {
                padding: emRhythm(1) emRhythm(2);
                //color: $color--comet-dark;
                color: $color--comet-medium;
            }
        }

        .active > a {
            //background: mix($color--polo, $color--polo-medium);
            background: $color--comet-dark;
            color: $color--white-light;
        }

        & > .highlight > a {
            //background: mix($color--polo-dark, $color--dark);
            //color: $color--polo-light;
            background: $color--comet-light;
            color: $color--comet-dark-mixed;
        }
    }
}

@mixin light-placeholder () {
    @include placeholder-base();
    color: $color--polo;
}

@mixin light-placeholder-hover () {
    //@include light-placeholder();
    color: mix($color--polo-dark, $color--polo-medium);
}

@mixin light-input () {
    background: $color--polo-light;
    color: $color--dark-light;

    &:hover {
        background: rgba($color--polo-medium, 0.55);
    }

    &:focus {
        background: rgba($color--polo-medium, 0.7);
        color: $color--dark;
    }

    &::placeholder {
        @include light-placeholder()
    }

    &:hover,
    &:focus {
        &::placeholder {
            @include light-placeholder-hover();
        }
    }
}

@mixin light-prefix () {
    color: $color--polo-dark;
}

@mixin medium-input () {
    background: mix($color--polo-medium, $color--polo-light);
    color: $color--dark-light;

    &:hover {
        background: rgba($color--polo-light, 0.7);
    }

    &:focus {
        background: rgba($color--polo-light, 1);
        color: $color--dark;
    }

    &::placeholder {
        @include light-placeholder()
    }

    &:hover,
    &:focus {
        &::placeholder {
            @include light-placeholder-hover();
        }
    }
}

@mixin color-input ($color) {
    background: rgba($color, 0.4);
    color: $color--white-light;

    &:hover {
        background: rgba($color, 0.55);
    }

    &:focus,
    &.is-open {
        background: rgba($color, 0.7);
        color: $color--white;
    }

    &::placeholder {
        @include placeholder-base();
        color: mix($color, $color--dark, 85%);
    }

    &:hover {
        &::placeholder {
            color: mix($color, $color--dark, 60%);
        }
    }

    &:focus {
        &::placeholder {
            color: mix($color, $color--dark, 35%);
        }
    }
}

@mixin green-input () {
    @include color-input($color--green-dark);
}

@mixin orange-input () {
    @include color-input($color--orange-dark);
}

@mixin red-input () {
    @include color-input($color--red-dark);
}
