@mixin mnemonic {
    display: grid;
    user-select: text;
    grid-template-columns: 1fr 1fr 1fr max-content;

    .n {
        user-select: none;
        font-family: "Robot Mono";
        opacity: 0.3;
        width: 2em;
        text-align: right;
        margin-right: var(--padding-base);
    }

    .mnemonic-word {
        height: 1.2em;
        -webkit-appearance: none;
        border: none;
        padding: 0 !important;
        font: {
            family: sans-serif;
            weight: var(--font-weight-bold);
        }

        display: inline-flex;
        outline: none;
        font-weight: var(--font-weight-bold);

        background-color: inherit;

        .hidden {
            width: 80px;

            border: none;
            outline: none;
            -webkit-appearance: none;
            font: {
                family: sans-serif;
                weight: var(--font-weight-bold);
            }

            border-bottom: {
                style: dashed;
                color: var(--color-text-primary);
                width: 1px;
            }

            &.unverified {
                color: var(--color-status-error);
            }
        }
    }
}
