@import "src/renderer/styles/colors";

@mixin mnemonic {
    display: grid;
    user-select: text;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .mnemonic-word {
        -webkit-appearance: none;
        border: none !important;
        padding: 0 !important;
        font: {
            family: sans-serif;
            weight: bold;
        }

        display: inline-flex;
        outline: none;
        font-weight: bold;

        background-color: inherit;

        &.hidden {
            &.unverified {
                color: $color-error;
            }
        }
    }
}
