@mixin popup {
    .title {
        text-align: center;
        font-weight: var(--font-weight-bold);
    }

    .content {
        margin: var(--padding-base);
    }

    .buttons {
        width: 500px !important;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
    }
}