$radio-size: 17px;
$outer-border-width: 2px;
$inner-radio-size: 7px;

input[type="radio"] {
    width: $radio-size;
    height: $radio-size;
    margin: 0;

    -webkit-appearance: none;
    outline: none;

    border: {
        style: solid;
        radius: calc($radio-size / 2);
        width: $outer-border-width;
        color: var(--color-text-primary);
    }

    &::selection {
        outline: none;
    }

    &:checked {
        border-color: var(--color-secondary);

        &::before {
            position: absolute;
            content: '';

            height: $inner-radio-size;
            width: $inner-radio-size;
            margin: calc(($radio-size - $outer-border-width * 2 - $inner-radio-size) / 2);
            border-radius: calc($inner-radio-size / 2);
            background-color: var(--color-secondary);
        }
    }
}

.radio-field {
    position: relative;
    display: flex;

    input {
        vertical-align: middle;
    }

    label {
        margin-left: 3px;
        vertical-align: middle;
        width: fit-content;
    }
}