// Firo brand guidelines specify a base font of 16pt, but that's too large for our UI.
$font-size-normal: 12pt;

// This must be small enough that no content the user has to interact with will ever appear here.
$size-app-drag-area-height: 12pt;

$size-warning-banner: 35pt;

$size-menu-top-margin: 15pt;
$size-menu-logo: 60pt;
$size-top-section: $size-menu-top-margin + $size-menu-logo;

$size-setup-logo-height: 120pt;

$size-sidebar-width: 20vw;

$size-shadow-radius: 4px;

// These are only used on pages with a right sidebar.
$size-primary-content-width: 48vw;
$size-secondary-content-width: calc(100vw - #{$size-sidebar-width} - #{$size-primary-content-width});

$size-very-tiny-space: 2pt;
$size-tiny-space: 5pt;
$size-small-space: 14pt;
$size-medium-space: 21pt;
$size-large-space: 28pt;

$size-large-field-width: 250pt;
$size-between-field-space-small: $size-tiny-space;
$size-between-field-space-medium: $size-small-space;
$size-between-field-space-big: $size-medium-space;

$size-warning-vertical-padding: $size-small-space;

$size-popup-margin: 40px;
$size-main-margin: $size-small-space;
$size-detail-margin: $size-main-margin;

$size-input-border: 1px;
$size-input-horizontal-padding: 10px;
$size-input-vertical-padding: 3px;

$size-medium-button-width: 250px;

$size-sidebar-link-horizontal-padding: 15pt;
$size-sidebar-link-vertical-padding: 5pt;
$size-sidebar-link-inner-padding: 5pt;
$size-sidebar-border-radius: 30pt;

$size-table-row-height: $font-size-normal * 3;
$size-table-row-vertical-padding: calc((#{$size-table-row-height} - #{$font-size-normal}) / 2);
$size-table-row-horizontal-padding: $size-small-space;

// Align child elements to the same height as the bottom of our logo.
@mixin top-section {
    height: $size-top-section;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}