.smooth-input {
    margin: auto;

    padding: 10px;

    color: inherit;
    background-color: inherit;

    outline: none;
    border: {
        color: var(--color-text-subtle-border);
        radius: 6px;
        style: solid;
        width: 1px;
    }
}