@mixin animation-bezier {
    transition: all .5s cubic-bezier(.55, 0, .1, 1);
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s ease;
}
.fade-enter, .fade-leave-to {
    opacity: 0
}


/* Enter and leave animations can use different */
/* durations and timing functions.                            */
/*.slide-fade-enter-active {
    transition: all .3s ease;
}
.slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active below version 2.1.8 * / {
    transform: translateX(10px);
    opacity: 0;
}*/


$transition--slide-horizontal: 100vw;
$transition--slide-vertical: 100vh;
$transition--slide-horizontal-small: 10rem;

.slide-left-enter, .slide-right-leave-to {
    opacity: 0;
    -webkit-transform: translate($transition--slide-horizontal, 0);
    transform: translate($transition--slide-horizontal, 0);
}

.slide-left-leave-to, .slide-right-enter {
    opacity: 0;
    -webkit-transform: translate(-$transition--slide-horizontal, 0);
    transform: translate(-$transition--slide-horizontal, 0);
}



.slide-up-enter, .slide-down-leave-to {
    //opacity: 0;
    -webkit-transform: translate(0, $transition--slide-vertical);
    transform: translate(0, $transition--slide-vertical);
}

.slide-up-leave-to, .slide-down-enter {
    //opacity: 0;
    -webkit-transform: translate(0, -$transition--slide-vertical);
    transform: translate(0, -$transition--slide-vertical);
}



.slide-left-small-enter, .slide-right-small-leave-to {
    opacity: 0;
    -webkit-transform: translate($transition--slide-horizontal-small, 0);
    transform: translate($transition--slide-horizontal-small, 0);
}

.slide-left-small-leave-to, .slide-right-small-enter {
    opacity: 0;
    -webkit-transform: translate(-$transition--slide-horizontal-small, 0);
    transform: translate(-$transition--slide-horizontal-small, 0);
}