@import "./fonts";
@import "./colors";
@import "./sizes";

.ico-font {
    font-family: "IcoFont";
}

h1 {
    font: {
        family: "Saira Semi Condensed";
        weight: bold;
        size: $font-size-normal * 2.5;
    }
}

h2 {
    font: {
        family: "Saira Semi Condensed";
        weight: 300;
        size: $font-size-normal * 1.5;
    }
}

h3 {
    font: {
        family: "Source Sans Pro";
        weight: bold;
        size: $font-size-normal * 1.125;
    }
}

body {
    color: var(--color-text);
    font: {
        family: "Source Sans Pro";
        size: $font-size-normal;
    }
}

a {
    color: var(--color-dark-text), 15%;
}

@mixin large {
    font-size: $font-size-normal * 1.5;
}

@mixin largeish {
    font-size: $font-size-normal * 1.1;
}

@mixin small {
    font-size: $font-size-normal * 0.8;
}

@mixin mini {
    font-size: $font-size-normal * 0.7;
}

@mixin supermini {
    font-size: $font-size-normal * 0.5;
}

@mixin monospace {
    font-family: "Robot Mono";
}

@mixin ticker {
    color: var(--color-ticker);
}

@mixin amount {
    user-select: text;
    font-weight: bold;
}

@mixin address {
    user-select: text;
    @include monospace();
}

@mixin small-mono {
    user-select: text;
    @include monospace();
    @include mini();
}

@mixin txid {
    @include small-mono();
}

@mixin blockid {
    @include small-mono();
}

@mixin label {
    user-select: text;
    font-weight: bold;
    margin-bottom: $size-tiny-space;
}

@mixin guidance {
    user-select: text;
    font-style: italic;
    opacity: 0.9;
    font-size: 0.8em;
}

@mixin warning {
    @include guidance();
    color: var(--color-error);
}

@mixin optional-action {
    font-style: italic;
}

@mixin error {
    @include monospace();
    @include mini();
    user-select: text;
    color: var(--color-error);
    font: {
        weight: bold;
        style: italic;
    }
}