.warning-header {
    user-select: none;
    height: 100%;
    background: var(--color-warning-background);
    color: var(--color-warning-text);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}