$grid--columns: 16;
$grid--height: 13;
$grid--height-rem: $grid--height / 16 * 1rem;

$color--black: #000;
$color--black-light: rgba($color--black, 0.85);

$color--white: #fff;
$color--white-light: rgba($color--white, 0.85);

// Green
$color--green: #23B852;
$color--green-bright: #4AFF83;
$color--green-dark: #23612F;

// Red
$color--red: #AD1C32;
$color--red-bright: #F92848;
$color--red-dark: #7A1423;

$color--orange: #FA8C0F;
$color--orange-bright: #FFBB29;
$color--orange-dark: #D67922;

// Dark
$color--dark: #1F1F2E;
$color--dark-light: rgba($color--dark, 0.85);

// Comet
$color--comet: #8D8DA8;
$color--comet-dark: #52527A;
$color--comet-medium: #C6C6D3;
$color--comet-light: #E2E2E9;

// Polo
$color--polo: #ADB8D9;
$color--polo-dark: #8596C7;
$color--polo-medium: #D8DDED;
$color--polo-light: #F5F7FF;

$color--comet-dark-mixed: mix($color--comet-dark, $color--dark);
$color--private: $color--comet-dark;
$color--private-text: $color--white;

// inputs
$input-bleed: 2;

// detail view
$detail-view--min-width: 30rem; // 34rem

// scrollbar
//$scrollbar-padding: 0.5;
$scroll-color: mix($color--polo, $color--polo-medium);
$scroll-color-hover: mix($color--polo-dark, $color--polo);
$scroll-background-hover: $color--polo-light;

$scroll-color-medium: mix($color--comet-dark, $color--comet);
$scroll-color-hover-medium: mix($color--comet-dark-mixed, $color--comet-dark);
$scroll-background-hover-medium: $color--comet-light;

$scroll-color-dark: $color--comet;
$scroll-color-hover-dark: $color--comet-medium;
$scroll-background-hover-dark: $color--comet-dark-mixed;

// Gradients
$gradient--green-bright: linear-gradient(to right, $color--green, $color--green-bright);
$gradient--green-bright--diagonal: linear-gradient(to top right, $color--green, $color--green-bright);
$gradient--green-dark: linear-gradient(to right, $color--green-dark, $color--green);
$gradient--green-dark-bright: linear-gradient(to right, $color--green-dark, $color--green-bright);

$gradient--orange-vertical: linear-gradient(to right, $color--orange, $color--orange-bright);
$gradient--orange-horizontal: linear-gradient(to bottom, $color--orange, $color--orange-bright);

$gradient--red-vertical: linear-gradient(to right, $color--red, $color--red-bright);
$gradient--red-horizontal: linear-gradient(to bottom, $color--red, $color--red-bright);

$gradient--comet-dark-vertical: linear-gradient(to right, $color--comet-dark, $color--dark);
$gradient--comet-dark-horizontal: linear-gradient(to bottom, $color--comet-dark, $color--dark);

$gradient--comet-vertical: linear-gradient(to bottom left, $color--comet, $color--comet-dark);
$gradient--comet-horizontal: linear-gradient(to bottom, $color--comet, $color--comet-dark);

$gradient--polo-vertical: linear-gradient(to bottom left, $color--polo, $color--polo-dark);
$gradient--polo-horizontal: linear-gradient(to bottom, $color--polo, $color--polo-dark);

$sidebar--logo-margin-top: 8;
$sidebar--logo-height: 4;
$sidebar--logo-margin-bottom: 5;

$overlay--blur: 3rem;
$overlay--popover-blur: 1rem;
$overlay--blur-offset: $overlay--blur * 2;
$overlay--blur-offset-neg: $overlay--blur-offset * -1;
