<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>Firo Client</title>
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
      <!-- Add `node_modules/` to global paths so `require` works properly in development -->
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules %>')
      </script>
    <% } %>
  </head>
  <body style="background: #1F1F2E">
    <div id="app-container">
    </div>
    <!-- webpack builds are automatically injected -->
  </body>
</html>
