@mixin detail-wrap() {
    background: $color--white;
    padding: emRhythm(10) emRhythm(5) emRhythm(5);
    color: $color--dark;

    display: grid;
    height: 100%;
    grid-template-rows: auto 1fr;
    box-sizing: border-box;
}

@mixin detail-header() {
    position: relative;
    padding: 0 0 emRhythm(4);
    margin-top: emRhythm(-1);

    .inner {
        position: relative;
        z-index: 2;
        padding-top: emRhythm(4);
        padding-bottom: emRhythm(1);
        margin-bottom: emRhythm(-1);
        margin-left: emRhythm(5);
        mix-blend-mode: multiply;

        /deep/ h2 {
            margin: emRhythm(1);
            mix-blend-mode: multiply;
        }

        & > span {
            font-style: italic;
            color: $color--comet-dark;
        }
    }

    .status {
        opacity: 1;
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 1;

        & > div {
            margin-top: emRhythm(-3);
        }
    }

    .status {
        width: emRhythm(15);
        margin-left: emRhythm(-1.25);
        margin-bottom: emRhythm(-1);

        &.outgoing-icon {
            &> div {
                margin-top: emRhythm(-4);
                margin-bottom: emRhythm(4);
            }
        }
    }
}

@mixin detail-transactions() {

}

@mixin detail-actions() {
    @include divider-top-with-gradient();
    padding-bottom: 0;
    display: flex;
    justify-content: center;

    &> div > /deep/ button + button,
    &> div > /deep/ .popover + button,
    &> div > /deep/ .split-button + button {
        margin-left: emRhythm(2);
    }
}
