.form {
    $input-bleed: 2;

    .field {
        margin-bottom: emRhythm(3);

        &.has-error {
            input[type="text"] {
                border-bottom-color: $color--red-bright;
            }
        }

        & > label {
            display: block;
            @include font-heavy();
            padding-bottom: emRhythm(1);
        }
    }

    .control {
        position: relative;

        input[type="text"],
        select,
        .message {
            position: relative;
            width: 100%;
            border: 1px solid transparent;
            outline: none;

            transition: background 0.25s ease-out, border-color 0.15s ease-out;
        }

        input[type="text"] {
            @include setType(5);
        }

        input[type="text"],
        .message {
            @include bleed-h($input-bleed);
        }

        .prefix {
            position: absolute;
            top: 0;
            right: emRhythm($input-bleed) * -1;
            padding-right: emRhythm($input-bleed);
            height: 100%;
            @include setType(5);
            pointer-events: none;
        }

        .message {
            padding: emRhythm(2);
            @include setType(3);
        }
    }
}