.form {
    .field {
        margin-bottom: emRhythm(3);

        & > label {
            display: block;
            padding-bottom: emRhythm(1);
        }

        & > .description {
            display: block;
            @include description(100%);
            color: $color--comet;
            padding-bottom: emRhythm(1);
        }
    }

    .control {
        position: relative;

        .trigger {
            width: 100%;
        }

        input[type="text"],
        input[type="password"],
        select,
        .select,
        .message {
            position: relative;
            width: 100%;
            border: 1px solid transparent;
            outline: none;

            transition: background 0.25s ease-out, border-color 0.15s ease-out;
        }

        input[type="text"],
        input[type="password"] {
        }

        input[type="text"],
        input[type="password"],
        .message {
            @include bleed-h($input-bleed);
        }

        .prefix {
            position: absolute;
            top: 0;
            right: -#{emRhythm($input-bleed)};
            padding-right: -#{emRhythm($input-bleed)};
            height: 100%;
            pointer-events: none;
        }

        .message {
            padding: emRhythm(2);
        }
    }
}
