.tooltip {
    $tooltip--padding: emRhythm(2) emRhythm(2);
    $tooltip--arrow-size: emRhythm(1) / 3 * 2;

    display: block !important;
    z-index: 10000;
    @include box-shadow-large();

    .tooltip-inner {
        background: $color--comet-dark-mixed;
        color: $color--white;
        padding: $tooltip--padding;
        max-width: emRhythm(30);
        overflow: hidden;

        .control {
            padding-left: emRhythm($input-bleed);
            padding-right: emRhythm($input-bleed);

            input {
                @include dark-input();
            }
        }
    }

    .tooltip-arrow {
        width: 0;
        height: 0;
        border-style: solid;
        position: absolute;
        margin: emRhythm(1);
        border-color: $color--comet-dark-mixed;
        z-index: 1;
    }

    &[x-placement^="top"] {
        margin-bottom: $tooltip--arrow-size;

        .tooltip-arrow {
            border-width: $tooltip--arrow-size $tooltip--arrow-size 0 $tooltip--arrow-size;
            border-left-color: transparent !important;
            border-right-color: transparent !important;
            border-bottom-color: transparent !important;
            bottom: -$tooltip--arrow-size;
            left: calc(50% - $tooltip--arrow-size);
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &[x-placement^="bottom"] {
        margin-top: $tooltip--arrow-size;

        .tooltip-arrow {
            border-width: 0 $tooltip--arrow-size $tooltip--arrow-size $tooltip--arrow-size;
            border-left-color: transparent !important;
            border-right-color: transparent !important;
            border-top-color: transparent !important;
            top: -$tooltip--arrow-size;
            left: calc(50% - $tooltip--arrow-size);
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &[x-placement^="right"] {
        margin-left: $tooltip--arrow-size;

        .tooltip-arrow {
            border-width: $tooltip--arrow-size $tooltip--arrow-size $tooltip--arrow-size 0;
            border-left-color: transparent !important;
            border-top-color: transparent !important;
            border-bottom-color: transparent !important;
            left: -$tooltip--arrow-size;
            top: calc(50% - $tooltip--arrow-size);
            margin-left: 0;
            margin-right: 0;
        }
    }

    &[x-placement^="left"] {
        margin-right: $tooltip--arrow-size;

        .tooltip-arrow {
            border-width: $tooltip--arrow-size 0 $tooltip--arrow-size $tooltip--arrow-size;
            border-top-color: transparent !important;
            border-right-color: transparent !important;
            border-bottom-color: transparent !important;
            right: -$tooltip--arrow-size;
            top: calc(50% - $tooltip--arrow-size);
            margin-left: 0;
            margin-right: 0;
        }
    }

    &.warning,
    &.orange {
        .tooltip-inner {
            background-color: $color--orange;

            .control input {
                @include orange-input();
            }
        }

        .tooltip-arrow {
            border-color: $color--orange;
        }
    }

    &.error,
    &.red {
        .tooltip-inner {
            background-color: $color--red-bright;

            .control input {
                @include red-input();
            }
        }

        .tooltip-arrow {
            border-color: $color--red-bright;
        }
    }

    &.popover {
        $color: $color--dark;
        transition: transform .2s ease-in-out;
        box-shadow: none;

        .popover-arrow {
            transition: border-color .5s ease-in-out;
        }

        .popover-inner {
            padding: emRhythm(6);
            border-radius: 0;
            @include glow-small-box();
            max-width: none;
            transition: background-color .5s ease-in-out;

            header {
                padding-bottom: emRhythm(2);

                h2, h3 {
                    margin-top: 0;
                    margin-bottom: emRhythm(1);
                }

                p {
                    max-width: emRhythm(35);
                    margin: 0;
                    @include font-medium();
                    font-style: italic;
                    // color: $color--green-dark;
                }

                &.right {
                    text-align: right;

                    p {
                        margin-left: auto;
                    }
                }
            }

            .content-wrapper > div > footer,
            .content-wrapper > footer {
                padding-top: emRhythm(3);
                text-align: right;

                button + button {
                    margin-left: emRhythm(2)
                }
            }

        }

        &.dark {
            $color: $color--polo-light;

            .popover-inner {
                background: $color;
                color: $color--dark;
            }

            .popover-arrow {
                border-color: $color;
            }
        }

        &.comet {
            $color: $color--comet-dark;

            .popover-inner {
                background: $color;
                color: $color--white-light;

                h1, h2, h3 {
                    color: $color--white;
                }
            }

            .popover-arrow {
                border-color: $color;
            }
        }

        &.success,
        &.green {
            $color: $color--green;

            .popover-inner {
                background: $color;
                color: $color--white-light;

                h1, h2, h3 {
                    color: $color--white;
                }

                .control input {
                    @include green-input();
                }
            }

            .popover-arrow {
                border-color: $color;
            }
        }

        &.advice {
            .popover-inner {
                padding: emRhythm(3);

                header {
                    h2,
                    h3 {
                        margin: 0;
                    }
                }

                p {
                    margin: 0 0 emRhythm(1);
                }
            }
        }

        &.notice {
            .popover-inner {
                padding: emRhythm(2)
            }

            header,
            h2, h3 {
                margin: 0;
                font-style: italic;
            }
        }
    }

    &[aria-hidden='true'] {
        visibility: hidden;
        opacity: 0;
        transition: opacity .25s, visibility .25s;
    }

    &[aria-hidden='false'] {
        visibility: visible;
        opacity: 1;
        transition: opacity .25s;
    }
}

.v-popover .trigger {
    outline: none;
}

.overlay-popover {
    z-index: 30000;
}

.popover {
    &.step-done {
        max-width: emRhythm(42);
    }

    &.is-blurred {
        filter: blur($overlay--popover-blur);
    }
}
