.tooltip {
    $tooltip--padding: emRhythm(2) emRhythm(2);
    $tooltip--arrow-size: emRhythm(1) / 3 * 2;
    $tooltip--background-transition-duration: .5s;

    display: block !important;
    z-index: 10000;
    @include box-shadow-large();

    &:not(.popover) {
        .tooltip-inner {
            padding: $tooltip--padding;
        }
    }

    .tooltip-inner {
        background: $color--comet-dark-mixed;
        color: $color--white;
        max-width: emRhythm(42);
        overflow: hidden;

        .control {
            padding-left: emRhythm($input-bleed);
            padding-right: emRhythm($input-bleed);

            input {
                @include light-input();
            }

            .prefix {
                @include light-prefix();
                right: 0;
            }
        }
    }

    .tooltip-arrow {
        width: 0;
        height: 0;
        border-style: solid;
        position: absolute;
        margin: emRhythm(1);
        border-color: $color--comet-dark-mixed;
        z-index: 1;
    }

    &[x-placement^="top"] {
        margin-bottom: $tooltip--arrow-size;

        .tooltip-arrow {
            border-width: $tooltip--arrow-size $tooltip--arrow-size 0 $tooltip--arrow-size;
            border-left-color: transparent !important;
            border-right-color: transparent !important;
            border-bottom-color: transparent !important;
            bottom: -$tooltip--arrow-size;
            left: calc(50% - $tooltip--arrow-size);
            margin-top: 0;
            margin-bottom: 0;

            transition: border-top-color $tooltip--background-transition-duration ease-in-out;
        }
    }

    &[x-placement^="bottom"] {
        margin-top: $tooltip--arrow-size;

        .tooltip-arrow {
            border-width: 0 $tooltip--arrow-size $tooltip--arrow-size $tooltip--arrow-size;
            border-left-color: transparent !important;
            border-right-color: transparent !important;
            border-top-color: transparent !important;
            top: -$tooltip--arrow-size;
            left: calc(50% - $tooltip--arrow-size);
            margin-top: 0;
            margin-bottom: 0;

            transition: border-bottom-color $tooltip--background-transition-duration ease-in-out;
        }
    }

    &[x-placement^="right"] {
        margin-left: $tooltip--arrow-size;

        .tooltip-arrow {
            border-width: $tooltip--arrow-size $tooltip--arrow-size $tooltip--arrow-size 0;
            border-left-color: transparent !important;
            border-top-color: transparent !important;
            border-bottom-color: transparent !important;
            left: -$tooltip--arrow-size;
            top: calc(50% - $tooltip--arrow-size);
            margin-left: 0;
            margin-right: 0;

            transition: border-right-color $tooltip--background-transition-duration ease-in-out;
        }
    }

    &[x-placement^="left"] {
        margin-right: $tooltip--arrow-size;

        .tooltip-arrow {
            border-width: $tooltip--arrow-size 0 $tooltip--arrow-size $tooltip--arrow-size;
            border-top-color: transparent !important;
            border-right-color: transparent !important;
            border-bottom-color: transparent !important;
            right: -$tooltip--arrow-size;
            top: calc(50% - $tooltip--arrow-size);
            margin-left: 0;
            margin-right: 0;

            transition: border-left-color $tooltip--background-transition-duration ease-in-out;
        }
    }

    &.warning,
    &.orange {
        .tooltip-inner {
            background-color: $color--orange;

            .control input {
                @include orange-input();
            }
        }

        .tooltip-arrow {
            border-color: $color--orange;
        }
    }

    &.error,
    &.red {
        .tooltip-inner {
            background-color: $color--red-bright;

            .control input {
                @include red-input();
            }
        }

        .tooltip-arrow {
            border-color: $color--red-bright;
        }
    }

    &.popover {
        $color: $color--dark;
        transition: transform .2s ease-in-out;
        box-shadow: none;

        .popover-arrow {
            //transition: border-color $tooltip--background-transition-duration ease-in-out;
        }

        .popover-inner {
            border-radius: 0;
            @include glow-small-box();
            max-width: none;
            transition: background-color $tooltip--background-transition-duration ease-in-out;

            h1 {
                margin-bottom: emRhythm(3, $ms-up5);
            }

            h2 {
                padding-top: 0;
            }

            header {
                padding-bottom: emRhythm(2);

                h2, h3 {
                    margin-top: 0;
                    margin-bottom: emRhythm(1);

                    & + p {
                        margin-top: emRhythm(1);
                    }
                }

                p {
                    max-width: emRhythm(35);
                    @include font-medium();
                    font-style: italic;
                    // color: $color--green-dark;
                }

                &.right {
                    text-align: right;

                    p {
                        margin-left: auto;
                    }
                }
            }

            .content-wrapper > * {
                padding: emRhythm(6);
                height: 100%;
                box-sizing: border-box;
            }

            .content-wrapper > div > footer,
            .content-wrapper > form > footer,
            .content-wrapper > footer,
            .content-wrapper .footer {
                padding-top: emRhythm(3);
                text-align: right;

                button + button {
                    margin-left: emRhythm(2)
                }
            }

            .content-list {
                list-style: none;
                margin: 0;
                padding: 0;
            }

            nav.menu {
                ul {
                    margin: emRhythm(-1.5, $silent: true) 0;
                    padding: 0;
                    list-style-type: none;

                    li a {
                        border: none;
                        padding: emRhythm(1) emRhythm(1.5, $silent: true);
                        margin: 0 emRhythm(-1.5, $silent: true);
                    }
                    li + li a {
                        border-width: 0;
                        @include rhythmBorderTop(1px, 1);
                        border-color: $color--comet;
                        border-style: solid;
                    }

                    a {
                        display: block;
                        color: $color--white-light;
                        text-decoration: none;

                        &:hover {
                            color: $color--white;
                            background: $color--comet-dark;
                        }
                    }
                }
            }

        }

        &.dark {
            $color: $color--white;

            .popover-inner {
                background: $color;
                color: $color--dark;
            }

            .popover-arrow {
                border-color: $color;
            }
        }

        &.private,
        &.comet {
            $color: $color--comet-dark;

            .popover-inner {
                background: $color;
                color: $color--white-light;

                h1, h2, h3 {
                    color: $color--white;
                }
            }

            .popover-arrow {
                border-color: $color;
            }
        }

        &.success,
        &.green {
            $color: $color--green;

            .popover-inner {
                background: $color;
                color: $color--white-light;

                h1, h2, h3 {
                    color: $color--white;
                }

                .control input {
                    @include green-input();
                }
            }

            .popover-arrow {
                border-color: $color;
            }
        }

        &.advice {
            .popover-inner {
                .content-wrapper > * {
                    padding: emRhythm(3);
                }

                header {
                    h2,
                    h3 {
                        margin: emRhythm(1) 0 0;
                        color: $color--polo-light;
                    }
                }

                .content-wrapper > p,
                .content {
                    margin-bottom: emRhythm(2);
                }
            }
        }

        &.notice {
            .popover-inner {
                .content-wrapper > * {
                    padding: emRhythm(2)
                }
            }

            header,
            h2, h3 {
                margin: 0;
                font-style: italic;
            }
        }
    }

    &[aria-hidden='true'] {
        visibility: hidden;
        opacity: 0;
        transition: opacity .25s, visibility .25s;
    }

    &[aria-hidden='false'] {
        visibility: visible;
        opacity: 1;
        transition: opacity .25s;
    }
}

.v-popover .trigger {
    outline: none;
}

.overlay-popover {
    z-index: 30000;
}

.popover {
    &.step-done {
        max-width: emRhythm(42);

        .popover-content > * {
            padding-top: 0;
        }
    }

    &.is-blurred {
        filter: blur($overlay--popover-blur);
    }
}
