@import "styles/reset";
@import 'styles/typography';

@import 'styles/variables';
@import 'styles/legacy';
@import 'styles/mixins';
@import 'styles/elements/overlay';
@import 'styles/elements/popover';
@import 'styles/elements/detail';
@import 'styles/elements/form';
@import 'styles/elements/spinner';
@import 'styles/elements/radio';

* {
  box-sizing: border-box;
}