@import "styles/reset";
@import "styles/fonts";
@import 'styles/colors';
@import 'styles/z';
@import 'styles/buttons';
@import 'styles/checkbox';
@import 'styles/error_tooltip';
@import 'styles/selector';
@import "src/renderer/styles/info-popup";

:root {
    --padding-base: 15px;

    --width-detail: 360px;

    color: var(--color-text-primary);
    font: {
        family: "Rubik";
        size: 14px;
    }
}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
}

.address {
    font-family: "Robot Mono", monospace;
}